<!DOCTYPE html>
<html>
<head><title>shop</title></head>
<body>
	<form action={{url_for('store')}} method='POST'>
		biscuits<br><input type="text" name="biscuit" value="0"> Rs 10/- per packet<br><br>
		bread<br><input type="text" name="bread" value="0"> Rs 20/- per packet<br><br>
		jam<br><input type="text" name="jam" value="0"> Rs 30/- per can<br><br>
		milk<br><input type="text" name="milk" value="0"> Rs 15/- per packet<br><br>
		<input type="submit" value="add to cart">
 	</form>
</body>
</html>
