body
{
	background-color: rgb(255,153,51);
	padding-bottom: 7px;
}
.container
{
	border:2px black solid;
	border-radius: 15px;
	/*padding-left:10px;*/
	/*padding-bottom: 10px;*/
	background-color: rgb(255,102,102);
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
}
h2
{
	text-align: center;
}